# http://www.oracle.com/technetwork/java/javase/tech/largememory-jsp-137182.html
# http://andrigoss.blogspot.hu/2008/02/jvm-performance-tuning.html
# Increase SHMMAX value. It must be larger than the Java heap size. On a system with 4 GB of physical RAM (or less) the following will make all the memory sharable:
kernel.shmmax=6442450944
# Specify the number of large Huge Pages or large pages. In the following example 6 GB of a 8 GB system are reserved for large pages (assuming a large page size of 2048k (Hugepagesize: 2048 kB), then 6 GB = 6 x 1024 MB = 6291456 KB / 2048 KB = 3072):
vm.nr_hugepages={{ hugepages_number }}
vm.hugetlb_shm_group={{ hugepages_system_gid.stdout }}
